@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    background: transparent;
}

body {
    line-height: 1.5;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul,
dl,
dt,
dd {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

button,
input {
    cursor: pointer;
    overflow: visible;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

optgroup {
    font-weight: bold;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

svg:not(:root) {
    overflow: hidden;
}

input,
button,
select,
textarea {
    outline: none;
}

*:focus {
    outline: none;
}


/*--------------------------------------------------------------------------------------------------------------------------------------------------------*/

html,
body {
    width: 100%;
    height: 100%;
    min-width: 320px;
}

html {
    font-family: Montserrat, Helvetica, arial, Microsoft JhengHei, "微軟正黑體", sans-serif;
    font-size: 16px;
}

body {
    font-size: 1rem;
    background-color: #f7f7f7;
    -webkit-text-size-adjust: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1rem 0;
    padding: 0;
}

.clear {
    clear: both;
}


/*--------------------------------------------------------------------------------------------------------------------------------------------------------*/


/*- - clearfix - -*/

.clearfix::before,
.clearfix::after {
    content: '';
    display: table;
}

.clearfix::after {
    clear: both;
}


/*- - container - -*/

.container {
    position: relative;
    width: 100%;
}


/*- - header - -*/

.header {
    position: relative;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding-top: 22%;
    background: url(../images/bg1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    text-transform: uppercase;
    overflow: hidden;
    text-align: center;
    color: white;
}

.header h1 {
    font-size: 64px;
    text-shadow: 5px 5px 10px #000;
    -webkit-text-shadow: 5px 5px 10px #000;
    -moz-text-shadow: 5px 5px 10px #000;
    -ms-text-shadow: 5px 5px 10px #000;
    -o-text-shadow: 5px 5px 10px #000;
}

.header p {
    font-size: 21px;
    margin-bottom: 30px;
    height: 20px;
    text-shadow: 5px 5px 10px #000;
    -webkit-text-shadow: 5px 5px 10px #000;
    -moz-text-shadow: 5px 5px 10px #000;
    -ms-text-shadow: 5px 5px 10px #000;
    -o-text-shadow: 5px 5px 10px #000;
}

.social-icon {
    position: relative;
    margin-bottom: 90px;
}

.social-icon a {
    color: white;
    border: 1px solid;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 10px;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

.social-icon a:hover {
    background-color: white;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

.social-icon i {
    margin-top: 15px;
    font-size: 20px;
}

.fb:hover i {
    color: #0066cc;
}

.ig:hover i {
    color: #ff3399;
}

.github:hover i {
    color: #600080;
}

.arrow-down {
    position: absolute;
    bottom: 80px;
    right: 50%;
    width: 50px;
    margin-right: -25px;
    -webkit-animation: arrow 4s infinite;
    -moz-animation: arrow 4s infinite;
    -ms-animation: arrow 4s infinite;
    -o-animation: arrow 4s infinite;
    animation: arrow 4s infinite;
}

.arrow-down a {
    color: white;
}

.arrow-down a:hover {
    color: #777;
}


/*- - personal profile - -*/

.personal-profile {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    background-color: white;
    padding-bottom: 60px;
}

.nav {
    position: relative;
    padding: 0 20px 0 20px;
    width: 100%;
    line-height: 55px;
    border-bottom: 1px solid #ccc;
    overflow: auto;
    box-sizing: border-box;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.8);
}

.nav .home {
    float: left;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.nav a {
    text-decoration: none;
    color: #777;
    display: block;
}

.nav ul {
    float: right;
    box-sizing: border-box;
}

.nav li {
    display: inline-block;
    margin: 0 15px;
    font-size: 15px;
}

.nav li:hover {
    border-bottom: 3px solid #0066cc;
}

.nav .phone-bar {
    color: #777;
    font-size: 25px;
    border: 1px solid;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-top: 8px;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

.menu-s {
    display: none;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #777;
    padding: 10px 20px;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 999;
}

.menu-s a {
    color: #777;
    text-decoration: none;
}

.menu-s li {
    margin-top: 10px;
    padding: 10px 0;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.here {
    border-bottom: 3px solid #0066cc;
}

.main-content {
    width: 100%;
    padding: 60px 50px 60px 50px;
    box-sizing: border-box;
    font-family: 'Raleway', 微軟正黑體, sans-serif;
}

.main-content h2 {
    text-align: center;
    font-size: 35px;
    margin-top: 30px;
    text-transform: uppercase;
}

.main-content p {
    text-align: center;
    font-size: 20px;
    color: #777;
}

.spacer {
    width: 100px;
    height: 2px;
    margin: 20px auto;
    background: -webkit-linear-gradient(left, #0066cc, #fff);
    background: -moz-linear-gradient(left, #0066cc, #fff);
    background: -ms-linear-gradient(left, #0066cc, #fff);
    background: -o-linear-gradient(left, #0066cc, #fff);
}

.slider-wrap {
    padding: 0 120px 0 120px;
    box-sizing: border-box;
    width: 100%;
    overflow: auto;
}

.slider-wrap .slider {
    float: left;
    width: 35%;
    box-sizing: border-box;
    margin-left: -45%;
    transition: all 1s;
}

.slider-wrap img {
    width: 100%;
    height: auto;
    opacity: 0.8;
    transition: .5s;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.slider-wrap img:hover {
    opacity: 1;
    transform: rotate(-5deg) scale(1.1, 1.1);
}

.slider-wrap .intro {
    float: right;
    width: 64%;
    box-sizing: border-box;
    padding: 0 15px;
    display: none;
}

.slider-wrap p {
    margin-bottom: 15px;
    font-size: 18px;
    color: #444444;
}

strong {
    font-weight: bold;
}

.first-p {
    font-size: 1.2rem;
    font-weight: bold;
}


/*- - skill-wrap - -*/

.skill-wrap {
    width: 100%;
    min-height: 130vh;
    background-color: white;
}


/*- - chart-wrap - -*/

.chart-wrap {
    width: 60%;
    margin: 0 auto;
    padding-bottom: 20px;
    box-sizing: border-box;
    overflow: auto;
}

.chart-wrap .chart {
    position: relative;
    float: right;
    width: 80%;
    height: 420px;
    margin-bottom: 20px;
    border-left: 2px solid #777;
    border-bottom: 2px solid #777;
    box-sizing: border-box;
}

.chart-wrap .chart-grid {
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    box-sizing: border-box;
    border: 1px dotted #777;
}

.chart-wrap .chart-grid div {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 900;
    letter-spacing: -1px;
    color: #777;
    margin: -12px 0 0 -125px;
}

.chart-wrap .bar {
    position: absolute;
    bottom: 0;
    width: 6%;
    height: 0px;
    background: linear-gradient(#0066cc, #003366);
    -webkit-background: linear-gradient(#0066cc, #003366);
    -moz-background: linear-gradient(#0066cc, #003366);
    -ms-background: linear-gradient(#0066cc, #003366);
    -o-background: linear-gradient(#0066cc, #003366);
    transition: all 1.5s ease;
    -webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -ms-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
}

.chart-wrap .bar .skill-title {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    font-size: 1.2rem;
    text-transform: uppercase;
    transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    -moz-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    -o-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
}

.chart-wrap .able {
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding-left: 50px;
    line-height: 2;
}

.chart-wrap .able h4 {
    font-size: 20px;
    font-weight: bold;
    color: #444444;
    text-transform: uppercase;
}

.chart-wrap .able p {
    color: #777;
    font-size: 18px;
}

.chart-wrap .able span {
    margin-right: 10px;
    color: #0066cc;
}

.chart-wrap .able .skill-bar {
    display: table;
    width: 100%;
    box-sizing: border-box;
    height: 4px;
    margin-bottom: 15px;
}

.chart-wrap .able .skill-bar .skill-rate-1,
.chart-wrap .able .skill-bar .skill-rate-2,
.chart-wrap .able .skill-bar .skill-rate-3,
.chart-wrap .able .skill-bar .skill-rate-4,
.chart-wrap .able .skill-bar .skill-rate-0 {
    display: table-cell;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
}

.chart-wrap .able .skill-bar .skill-rate-1 {
    background-color: #66b3ff;
}

.chart-wrap .able .skill-bar .skill-rate-2 {
    background-color: #1a8cff;
}

.chart-wrap .able .skill-bar .skill-rate-3 {
    background-color: #0073e6;
}

.chart-wrap .able .skill-bar .skill-rate-4 {
    background-color: #003366;
}

.chart-wrap .able .skill-bar .skill-rate-0 {
    background-color: #d9d9d9;
}


/*- - contact-wrap - -*/

.contact-wrap {
    width: 100%;
    min-height: 100vh;
    background-color: #373737;
    color: white;
}

.contact-wrap .spacer {
    width: 100px;
    height: 2px;
    margin: 20px auto;
    background: -webkit-linear-gradient(left, #2ebd59, #fff);
    background: -moz-linear-gradient(left, #2ebd59, #fff);
    background: -ms-linear-gradient(left, #2ebd59, #fff);
    background: -o-linear-gradient(left, #2ebd59, #fff);
}


/*- - contact-content - -*/

.contact-content {
    width: 85%;
    box-sizing: border-box;
    margin: 0 auto 80px;
    overflow: hidden;
}

.contact-content .contact-list {
    float: left;
    width: 35%;
    box-sizing: border-box;
    line-height: 2;
    margin-left: -100%;
    transition: all 1s;
}

.contact-content .contact-list .contact-title {
    margin-bottom: 40px;
    color: #2ebd59;
    font-size: 19px;
    font-family: "Raleway", 微軟正黑體, sans-serif;
}

.contact-content .contact-list p {
    font-size: 1.2rem;
    font-family: "Raleway", 微軟正黑體, sans-serif;
}

.contact-content .contact-list span i {
    margin-right: 10px;
    font-size: 18px;
}

.contact-content .contact-form {
    float: right;
    width: 64%;
    box-sizing: border-box;
    margin-right: -100%;
    transition: all 1s;
}

.contact-content .contact-form input[type="text"] {
    width: 100%;
    height: 34px;
    box-sizing: border-box;
    margin-bottom: 15px;
    padding: 0 10px;
    cursor: auto;
    color: #444444;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border: none;
}

.contact-content .contact-form textarea {
    width: 100%;
    height: 150px;
    color: #444444;
    box-sizing: border-box;
    padding: 0 10px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.contact-content .contact-form .button-wrap {
    width: 100%;
    overflow: auto;
}

.btn {
    width: 100px;
    display: inline-block;
    font-size: 14px;
    border: 1px solid #2ebd59;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    padding: 6px 12px;
    text-align: center;
    background-color: inherit;
}

.send:hover {
    background-color: #2ebd59;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.reset:hover {
    background-color: #515151;
    border: 1px solid #515151;
    color: #2ebd59;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}


/*- - footer - -*/

.footer {
    width: 100%;
    padding: 40px 0px;
    background-color: #000;
    box-sizing: border-box;
    text-align: center;
}

.footer a {
    color: white;
}

.footer i {
    font-size: 25px;
}

.footer p {
    font-size: 18px;
}

.footer-social {
    width: 100%;
    margin: 15px 0;
    box-sizing: border-box;
}

.footer-social a {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 60px;
    margin: 0 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: #373737;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}

.footer-social a:hover {
    background-color: #777;
}

.footer-social a:hover i {
    color: #000;
}


/*- - animation - -*/

@-o-keyframes arrow {
    0% {
        bottom: 80px;
    }
    50% {
        bottom: 50px;
    }
    100% {
        bottom: 80px;
    }
}

@-ms-keyframes arrow {
    0% {
        bottom: 80px;
    }
    50% {
        bottom: 50px;
    }
    100% {
        bottom: 80px;
    }
}

@-moz-keyframes arrow {
    0% {
        bottom: 80px;
    }
    50% {
        bottom: 50px;
    }
    100% {
        bottom: 80px;
    }
}

@-webkit-keyframes arrow {
    0% {
        bottom: 80px;
    }
    50% {
        bottom: 50px;
    }
    100% {
        bottom: 80px;
    }
}

@keyframes arrow {
    0% {
        bottom: 80px;
    }
    50% {
        bottom: 50px;
    }
    100% {
        bottom: 80px;
    }
}


/*- - phone-animate - -*/

@-o-keyframes arrow-phone {
    0% {
        bottom: 200px;
    }
    50% {
        bottom: 170px;
    }
    100% {
        bottom: 200px;
    }
}

@-ms-keyframes arrow-phone {
    0% {
        bottom: 200px;
    }
    50% {
        bottom: 170px;
    }
    100% {
        bottom: 200px;
    }
}

@-moz-keyframes arrow-phone {
    0% {
        bottom: 200px;
    }
    50% {
        bottom: 170px;
    }
    100% {
        bottom: 200px;
    }
}

@-webkit-keyframes arrow-phone {
    0% {
        bottom: 200px;
    }
    50% {
        bottom: 170px;
    }
    100% {
        bottom: 200px;
    }
}

@keyframes arrow-phone {
    0% {
        bottom: 200px;
    }
    50% {
        bottom: 170px;
    }
    100% {
        bottom: 200px;
    }
}

@media only screen and (max-width: 1100px) {
    .right {
        float: left;
        margin-top: 15px;
        display: block;
        width: 100%;
    }
}

@media only screen and (max-width: 840px) {
    .header {
        position: relative;
        width: 100%;
        height: 100vh;
        box-sizing: border-box;
        padding-top: 22%;
        background: url(../images/bg2.jpg) no-repeat;
        background-size: cover;
        background-position: center;
        text-transform: uppercase;
        overflow: hidden;
        text-align: center;
        color: white;
    }
    .header h1 {
        font-size: 45px;
    }
    .arrow-down {
        position: absolute;
        bottom: 200px;
        right: 50%;
        width: 50px;
        margin-right: -25px;
        -webkit-animation: arrow-phone 4s infinite;
        -moz-animation: arrow-phone 4s infinite;
        -ms-animation: arrow-phone 4s infinite;
        -o-animation: arrow-phone 4s infinite;
        animation: arrow-phone 4s infinite;
    }
    .slider-wrap {
        padding: 0 10px 0 10px;
        box-sizing: border-box;
        width: 100%;
        overflow: auto;
    }
    .slider-wrap .slider {
        float: left;
        width: 100%;
        box-sizing: border-box;
        margin-left: -45%;
        transition: all 1s;
    }
    .slider-wrap img {
        width: 100%;
        height: auto;
        opacity: 0.8;
        transition: .5s;
    }
    .slider-wrap img:hover {
        opacity: 1;
        transform: rotate(-5deg) scale(1.1, 1.1);
    }
    .slider-wrap .intro {
        float: right;
        width: 100%;
        box-sizing: border-box;
        padding: 0 15px;
        display: none;
    }
    .main-box {
        width: 100%;
        box-sizing: border-box;
        margin: 0 auto;
        overflow: auto;
        padding: 0 10px 0 10px;
    }
    .main-box .sub-title {
        float: left;
        width: 100%;
        box-sizing: border-box;
        margin-left: -30%;
        transition: all .5s;
    }
    .main-box .resume-article {
        width: 100%;
        float: right;
        box-sizing: border-box;
        overflow: auto;
        margin-bottom: 30px;
        display: none;
    }
    .main-box h3 {
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
        text-align: left;
        padding-right: 15px;
    }
    .main-box .job-title {
        width: 100%;
        font-size: 18px;
        color: #0066cc;
        float: left;
        letter-spacing: 1px;
        margin-bottom: 15px;
    }
    .main-box p {
        margin-bottom: 15px;
        font-size: 18px;
        color: #444444;
    }
    .chart-wrap {
        width: 100%;
        margin: 0 auto;
        padding-bottom: 20px;
        box-sizing: border-box;
        overflow: auto;
    }
    .chart-wrap .chart {
        position: relative;
        float: none;
        margin: 0 auto;
        width: 95%;
        height: 420px;
        margin-bottom: 20px;
        border-left: 2px solid #777;
        border-bottom: 2px solid #777;
        box-sizing: border-box;
    }
    .chart-wrap .chart-grid {
        position: absolute;
        left: 0;
        width: 100%;
        height: 1px;
        box-sizing: border-box;
        border: 1px dotted #777;
    }
    .chart-wrap .chart-grid div {
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: 900;
        letter-spacing: -1px;
        color: #777;
        margin: 0px 0 0 0px;
    }
    .chart-wrap .bar {
        position: absolute;
        bottom: 0;
        width: 6%;
        height: 0px;
        background: linear-gradient(#0066cc, #003366);
        -webkit-background: linear-gradient(#0066cc, #003366);
        -moz-background: linear-gradient(#0066cc, #003366);
        -ms-background: linear-gradient(#0066cc, #003366);
        -o-background: linear-gradient(#0066cc, #003366);
        transition: all 1.5s ease;
        -webkit-transition: all 1.5s ease;
        -moz-transition: all 1.5s ease;
        -ms-transition: all 1.5s ease;
        -o-transition: all 1.5s ease;
    }
    .chart-wrap .bar .skill-title {
        position: absolute;
        top: 50%;
        left: 50%;
        color: white;
        font-size: 1.2rem;
        text-transform: uppercase;
        transform: translateX(-50%) translateY(-50%) rotate(-90deg);
        -webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
        -moz-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
        -ms-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
        -o-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    }
    .chart-wrap .able {
        float: left;
        width: 50%;
        box-sizing: border-box;
        padding: 0 20px 0 20px;
        line-height: 2;
    }
    .chart-wrap .able h4 {
        font-size: 20px;
        font-weight: bold;
        color: #444444;
        text-transform: uppercase;
    }
    .chart-wrap .able p {
        color: #777;
        font-size: 18px;
    }
    .chart-wrap .able span {
        margin-right: 10px;
        color: #0066cc;
    }
    .chart-wrap .able .skill-bar {
        display: table;
        width: 100%;
        box-sizing: border-box;
        height: 4px;
        margin-bottom: 15px;
    }
    .chart-wrap .able .skill-bar .skill-rate-1,
    .chart-wrap .able .skill-bar .skill-rate-2,
    .chart-wrap .able .skill-bar .skill-rate-3,
    .chart-wrap .able .skill-bar .skill-rate-4,
    .chart-wrap .able .skill-bar .skill-rate-0 {
        display: table-cell;
        border-left: 2px solid #fff;
        border-right: 2px solid #fff;
    }
    .chart-wrap .able .skill-bar .skill-rate-1 {
        background-color: #66b3ff;
    }
    .chart-wrap .able .skill-bar .skill-rate-2 {
        background-color: #1a8cff;
    }
    .chart-wrap .able .skill-bar .skill-rate-3 {
        background-color: #0073e6;
    }
    .chart-wrap .able .skill-bar .skill-rate-4 {
        background-color: #003366;
    }
    .chart-wrap .able .skill-bar .skill-rate-0 {
        background-color: #d9d9d9;
    }
    .contact-content {
        width: 90%;
        box-sizing: border-box;
        margin: 0 auto 80px;
        overflow: hidden;
    }
    .contact-content .contact-list {
        float: left;
        width: 100%;
        box-sizing: border-box;
        line-height: 2;
        margin-left: -40%;
        margin-bottom: 20px;
        transition: all 1s;
    }
    .contact-content .contact-form {
        float: right;
        width: 100%;
        box-sizing: border-box;
        margin-right: -70%;
        transition: all 1s;
    }
    .nav {
        padding: 0 20px 0 20px;
        width: 100%;
        line-height: 55px;
        border-bottom: 1px solid #ccc;
        overflow: auto;
        box-sizing: border-box;
        text-transform: uppercase;
        background-color: rgba(255, 255, 255, 0.8);
    }
    .nav .home {
        float: left;
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
    }
    .nav a {
        text-decoration: none;
        color: #777;
        display: block;
    }
    .nav ul {
        float: right;
        box-sizing: border-box;
        display: none;
    }
    .nav li {
        display: inline-block;
        margin: 0 15px;
        font-size: 15px;
    }
    .nav li:hover {
        border-bottom: 3px solid #0066cc;
    }
    .nav .phone-bar {
        color: #777;
        font-size: 25px;
        border: 1px solid;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        margin-top: 8px;
        border-radius: 4px;
        cursor: pointer;
        display: block;
    }
}

@media only screen and (max-width: 480px) {
    .header {
        position: relative;
        width: 100%;
        height: 100vh;
        box-sizing: border-box;
        padding-top: 22%;
        background: url(../images/bg2.jpg) no-repeat;
        background-size: cover;
        background-position: center;
        text-transform: uppercase;
        overflow: hidden;
        text-align: center;
        color: white;
    }
    .header h1 {
        font-size: 35px;
    }
    .social-icon {
        position: relative;
        margin: 90px 0;
    }
    .main-box {
        width: 100%;
        box-sizing: border-box;
        margin: 0 auto;
        overflow: auto;
        padding: 0 10px 0 10px;
    }
    .main-box .sub-title {
        float: left;
        width: 100%;
        box-sizing: border-box;
        margin-left: -30%;
        transition: all .5s;
    }
    .main-box .resume-article {
        width: 100%;
        float: right;
        box-sizing: border-box;
        overflow: auto;
        margin-bottom: 30px;
        display: none;
    }
    .main-box h3 {
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        padding-right: 15px;
        margin-bottom: 10px;
    }
    .main-box .job-title {
        width: 100%;
        font-size: 18px;
        color: #0066cc;
        float: none;
        text-align: center;
        letter-spacing: 1px;
        margin-bottom: 15px;
    }
    .main-box p {
        margin-bottom: 15px;
        font-size: 18px;
        color: #444444;
    }
    .right {
        float: left;
        margin-top: 5px;
        margin-bottom: 10px;
        display: block;
        width: 100%;
    }
    .portfolio-content .portfolio-list li {
        float: left;
        width: 100%;
        margin-bottom: 20px;
    }
    .portfolio-content .portfolio-list li:nth-child(3n+2) {
        margin: 0;
        margin-bottom: 20px;
    }
}


/*# sourceMappingURL=style.css.map */